@import "./reset.styl"
@import "./base.styl"
// 到底的样式
.end
  line-height: 1
  padding: 20px 0 26px
  text-align: center
  font-family: $font-family-regular
  font-size: $font-size-13
  color: $color-text-assist
